<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/countries.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

		<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="css/jquery.fancybox.js"></script>

		<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
		
<!-- 		<script type="text/javascript">
			window.onload = function(){
	        
			    //Check File API support
			    if(window.File && window.FileList && window.FileReader)
			    {
			        var filesInput = document.getElementById("files");
			        
			        filesInput.addEventListener("change", function(event){
			            
			            var files = event.target.files; //FileList object
			            var output = document.getElementById("result");
			            
			            for(var i = 0; i< files.length; i++)
			            {
			                var file = files[i];
			                
			                //Only pics
			                if(!file.type.match('image'))
			                  continue;
			                
			                var picReader = new FileReader();
			                
			                picReader.addEventListener("load",function(event){
			                    
			                    var picFile = event.target;
			                    
			                    var div = document.createElement("div");
			                    
			                    div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
			                            "title='" + picFile.name + "'/>";
			                    
			                    output.insertBefore(div,null);            
			                
			                });
			                
			                 //Read the image
			                picReader.readAsDataURL(file);
			            }                               
			           
			        });
			    }
			    else
			    {
			        console.log("Your browser does not support File API");
			    }
			}
		</script> -->
		<script>
	      $(document).ready(function(){
	        $('.add_more').click(function(e){
	          e.preventDefault();
	          $(this).before("<input id='files' type='file' name='pic' multiple>");
	        });
	      });
	    </script>

		<script type="text/javascript">
			$(document).ready(function(){
			//  Check Radio-box
			    $(".rating input:radio").attr("checked", false);
			    $('.rating input').click(function () {
			        $(".rating span").removeClass('checked');
			        $(this).parent().addClass('checked');
			    });

			    $('input:radio').change(
			    function(){
			        var userRating = this.value;
			        addReview.rating.value = userRating;
			        // alert(userRating);
			    }); 
			});
		</script>

		<script type="text/javascript">
		    $(document).ready(function() {
				$(".fancybox").fancybox();
			});
		</script>
	</head>
	<body>
		<div id = 'navbar'>
			<img src="http://www.electrogarden.com/music/egn/skins/ProJam_Dark/images/world_map_black.jpg" id="logo" />
			<div id = "name">MapItUp</div>
			<ul>
			  <li><a href="/home?userId=<%- userId%>"><b>Home</b></a></li>
			  <li><a href="/profile?userId=<%- userId%>"><b>Profile</b></a></li>
			  <li><a href="#contact"><b>Followers</b></a></li>
			  <li><a href="/signOut"><b>Sign Out</b></a></li>
			  <li><form action="/search" method="post"><input id="search-bar" name="search" type="text" placeholder="Search..."><input type="hidden" name="userId" value=<%- userId%>></form></li>
			  <li><span class="icon"><i class="fa fa-search"></i></span></li>
			</ul>
		</div>
		<div class='layer'>
			<div id = 'workingArea'>
				<h1> Reviews for <%=JSON.stringify(country)%></h1>
				<form name="addReview" action="/addReview" method="post" id="addReview" enctype="multipart/form-data">
					<textarea form="addReview" rows="4" cols="50" name="text" placeholder="Add a review..." style="font-size: 16px; width: 350px; height: 100px;""></textarea>
					<input type="hidden" name="userId" value=<%- userId%>>
					<input type="hidden" name="country" value=<%- country%>>
					<div class="rating">
					    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
					    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
					    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
					    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
					    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
					</div>
				    <input id="files" type="file" name="pic" accept="image/*" multiple>
				    <button class="add_more">Add More Files</button>

					<input type="submit" value="Submit">
				</form>
				<hr style="width:1100px;">
				<% for(var i=0; i < reviews.length; i++) { %>
					<div id = "reviewUser">Review by <%= JSON.stringify(reviews[i].user) %> | <%= JSON.stringify(reviews[i].rating) %> stars</div>
					<div id = "reviewText"><%= JSON.stringify(reviews[i].text) %></div>
					<div>
						<% for(var j=0; j < reviews[i].pics.length ; j++) { %>
							<div id = "reviewPic">
								<a class="fancybox" rel="group" href = <%-JSON.stringify(reviews[i].pics[j])%>><img src=<%-JSON.stringify(reviews[i].pics[j])%> alt="" width="50" height = "50"/></a>
							</div>
						<% } %>
					</div>
				<% } %>
				<a class="fancybox" rel="group" href="http://fancyapps.com/fancybox/demo/4_b.jpg"><img src="http://fancyapps.com/fancybox/demo/4_s.jpg" alt="" width="50" height = "50"/></a>
				<a class="fancybox" rel="group" href="http://whc.unesco.org/uploads/thumbs/site_0252_0008-750-0-20151104113424.jpg"><img src="http://whc.unesco.org/uploads/thumbs/site_0252_0008-750-0-20151104113424.jpg" alt="" width="50" height = "50"/></a>

			</div>
		</div>
	</body>
</html>