<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/countries.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

		<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen" />
		<script type="text/javascript" src="css/jquery.fancybox.js"></script>

		<link rel="stylesheet" href="/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<script type="text/javascript" src="/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>
		
		<!-- <script type="text/javascript">
			window.onload = function(){
	        
			    //Check File API support
			    if(window.File && window.FileList && window.FileReader)
			    {
			        var filesInput = document.getElementById("files");
			        
			        filesInput.addEventListener("change", function(event){
			            
			            var files = event.target.files; //FileList object
			            var output = document.getElementById("result");
			            
			            for(var i = 0; i< files.length; i++)
			            {
			                var file = files[i];
			                
			                //Only pics
			                if(!file.type.match('image'))
			                  continue;
			                
			                var picReader = new FileReader();
			                
			                picReader.addEventListener("load",function(event){
			                    
			                    var picFile = event.target;
			                    
			                    var div = document.createElement("div");
			                    
			                    div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
			                            "title='" + picFile.name + "'/>";
			                    
			                    output.insertBefore(div,null);            
			                
			                });
			                
			                 //Read the image
			                picReader.readAsDataURL(file);
			            }                               
			           
			        });
			    }
			    else
			    {
			        console.log("Your browser does not support File API");
			    }
			}
		</script> -->
		<script>
	      $(document).ready(function(){
	        $('.add_more').click(function(e){
	          e.preventDefault();
	          $(this).before("<input id='files' type='file' name='pic' multiple>");
	        });
	      });
	    </script>

		<script type="text/javascript">
			$(document).ready(function(){
			//  Check Radio-box
			    $(".rating input:radio").attr("checked", false);
			    $('.rating input').click(function () {
			        $(".rating span").removeClass('checked');
			        $(this).parent().addClass('checked');
			    });

			    $('input:radio').change(
			    function(){
			        var userRating = this.value;
			        addReview.rating.value = userRating;
			        // alert(userRating);
			    }); 
			});
		</script>

		<script type="text/javascript">
		    $(document).ready(function() {
				$(".fancybox").fancybox({
    				type: 'image'
  				});
			});
		</script>

		<script type="text/javascript">
			function showAddReview()
			{
				document.getElementById("addPics").style.display="none";
				document.getElementById("addReview").style.display="block";
			}

			function showAddPics()
			{
				document.getElementById("addReview").style.display="none";
				document.getElementById("addPics").style.display="block";
			}
		</script>
		<script>
			function checkPic()
			{
				if(document.getElementById("privatePic").checked == true)
					addPics.private.value = true;
				else
					addPics.private.value = false;
				// alert("HEY");
			}

			function checkReview()
			{
				if(document.getElementById("privateReview").checked == true)
					addReview.private.value = true;
				else
					addReview.private.value = false;
			}
		</script>
	</head>
	<body>
		<div id = 'navbar'>
			<img src="http://www.electrogarden.com/music/egn/skins/ProJam_Dark/images/world_map_black.jpg" id="logo" />
			<div id = "name">MapItUp</div>
			<ul>
			  <li><a href="/home?userId=<%- userId%>"><b>Home</b></a></li>
			  <li><a href="/profile?userId=<%- userId%>"><b>Profile</b></a></li>
			  <li><a href="/getFollowers?userId=<%- userId%>"><b>Followers</b></a></li>
			  <li><a href="/messages?userId=<%- userId%>"><b>Messages</b></a></li>
			  <li><a href="/signOut"><b>Sign Out</b></a></li>
			  <li><form action="/search" method="post"><input id="search-bar" name="search" type="text" placeholder="Search..."><input type="hidden" name="userId" value=<%- userId%>></form></li>
			  <li><span class="icon"><i class="fa fa-search"></i></span></li>
			</ul>
		</div>
		<marquee width="1400" height="150">
			<% for(var k=0; k < countryPics.length; k++) { %>
		    		<img src=<%-countryPics[k]%> alt="" width="250" height="150"/>
		    <% } %>
		</marquee> 
		<div class='layer'>
			<div id = 'workingArea'>
				<h1><%=JSON.stringify(country)%></h1>
				<button class="add" onClick="showAddPics()">Add photos</button>
				<button class="add" onClick="showAddReview()" style="left: 100px;">Add a review</button>
				<form name="addReview" onsubmit="checkReview()" action="/addReview" method="post" id="addReview" enctype="multipart/form-data" style="display: none;">
					<textarea form="addReview" rows="4" cols="50" name="text" placeholder="Add a review..." style="font-size: 16px; width: 350px; height: 100px;""></textarea>
					<input type="hidden" name="userId" value=<%- userId%>>
					<input type="hidden" name="country" value=<%- country%>>
					<br>
					<span class="currencyinput">$<input type="number" name="cost" placeholder="Average cost"></span>
					<br>
					<div style="margin-top:5px;color:white;">When did you visit ? 
					<select name="month">
					    <option value=1>January</option>
					    <option value=2>February</option>
					    <option value=3>March</option>
					    <option value=4>April</option>
					    <option value=5>May</option>
					    <option value=6>June</option>
					    <option value=7>July</option>
					    <option value=8>August</option>
					    <option value=9>September</option>
					    <option value=10>October</option>
					    <option value=11>November</option>
					    <option value=12>December</option>
					</select>
					</div>
					<div class="rating" style="margin-top: 10px;">
					    <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
					    <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
					    <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
					    <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
					    <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
					</div>
				    <input id="files" type="file" name="pic" accept="image/*" multiple>
				    <button class="add_more">Add More Photos</button>
				    <input type="checkbox" id="privateReview">Private
				    <input type="hidden" id="private" name="private" value=false>
					<input type="submit" value="Submit">
				</form>
				<form name="addPics" onsubmit="checkPic()" action="/addPics" method="post" id="addPics" enctype="multipart/form-data" style="display: none;">
					<input type="hidden" name="userId" value=<%- userId%>>
					<input type="hidden" name="country" value=<%- country%>>
				    <input id="files" type="file" name="pic" accept="image/*" multiple>
				    <button class="add_more">Add More Photos</button>
				    <input type="checkbox" id="privatePic">Private
				    <input type="hidden" id="private" name="private" value=false>
					<input type="submit" value="Submit">
				</form>
				<hr style="width:1100px;">
				<% for(var i=0; i < reviews.length; i++) { %>
				<% if(reviews[i].cost == '' || reviews[i].cost == null) { %>
				   <div id = "reviewUser">Review by <a href="/otherProfile?userId=<%- JSON.stringify(reviews[i].user)%>"><%= JSON.stringify(reviews[i].user) %></a> -- <%= JSON.stringify(reviews[i].rating) %> stars</div>
				 <% } else{ %>  
				   <div id = "reviewUser">Review by <a href="/otherProfile?userId=<%- JSON.stringify(reviews[i].user)%>"><%= JSON.stringify(reviews[i].user) %></a> -- <%= JSON.stringify(reviews[i].rating) %> stars -- Average cost : <%= JSON.stringify(reviews[i].cost)%></div>
				<% } %>
					<div id = "reviewText"><%= JSON.stringify(reviews[i].text) %></div>
					<div>
						<% for(var j=0; j < reviews[i].pics.length ; j++) { %>
							<div id = "reviewPic">
								<a class="fancybox" rel="group" href=<%-reviews[i].pics[j]%>><img src=<%-JSON.stringify(reviews[i].pics[j])%> alt="" width="50" height = "50"/></a>
							</div>
						<% } %>
					</div>
				<% } %>
			</div>
		</div>
	</body>
</html>