<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/messages.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			  $(function() {
			    $("#eachContact").click(function() {
			    	$.get("/getChat?sender=<%- userId%>&receiver=<%- contacts[i]%>", function(data, status){
            			alert("Data: " + data + "\nStatus: " + status);
        			});
        			$("#chat").show();

			        for (var c in data) {
			            $("#chat").append(c);
			        }  
					return false;
			    });
			  });
		</script>
	</head>
	<body>
		<div id = 'navbar'>
			<img src="http://www.electrogarden.com/music/egn/skins/ProJam_Dark/images/world_map_black.jpg" id="logo" />
			<div id = "name">MapItUp</div>
			<ul>
			  <li><a href="/home?userId=<%- userId%>"><b>Home</b></a></li>
			  <li><a href="/profile?userId=<%- userId%>"><b>Profile</b></a></li>
			  <li><a class="active" href="/getFollowers?userId=<%- userId%>"><b>Followers</b></a></li>
			  <li><a href="/signOut"><b>Sign Out</b></a></li>
			  <li><form action="/search" method="post"><input id="search-bar" name="search" type="text" placeholder="Search..."><input type="hidden" name="userId" value=<%- userId%>></form></li>
			  <li><span class="icon"><i class="fa fa-search"></i></span></li>
			</ul>
		</div>
		<div class='layer'>
			<div id = 'workingArea'>
				<div id = 'contacts'>
					<% for(var i=0; i < contacts.length; i++) { %>
						<div id = 'eachContact'><%= contacts[i]%></div>
					<% } %>
				</div>
				<div id = 'chat' style="display:none;">
				</div>
			</div>
		</div>
	</body>
</html>