<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/profile.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			  $(function() {
			    $(".button").click(function() {
			      $.ajax({
					    type: "POST",
					    url: "addFollowers",
					    data: {follower: <%-JSON.stringify(currentId)%>, followee: <%-JSON.stringify(userId)%>},
					  });
					  return false;
			    });
			  });
		</script>
	</head>
	<body>
		<div id = 'navbar'>
			<img src="http://www.electrogarden.com/music/egn/skins/ProJam_Dark/images/world_map_black.jpg" id="logo" />
			<div id = "name">MapItUp</div>
			<ul>
			  <li><a href="/home?userId=<%- currentId%>"><b>Home</b></a></li>
			  <li><a href="/profile?userId=<%- currentId%>"><b>Profile</b></a></li>
			  <li><a href="#contact"><b>Followers</b></a></li>
			  <!-- <li><a href="/search"><b>Search</b></a></li> -->
			  <li><a href="/signOut"><b>Sign Out</b></a></li>
			  <li><form action="/search" method="post"><input id="search-bar" name="search" type="text" placeholder="Search..."><input type="hidden" name="userId" value=<%- currentId%>></form></li>
			  <li><span class="icon"><i class="fa fa-search"></i></span></li>
			</ul>
		</div>
		
		
		<div class='layer'>
			<div id='workingArea'>
				<div class='profilepic'>
					<% if(profilePic == "" || profilePic == null) { %>
		   				<div><label><img src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png" width="120" height="120"></label></div>
		 			<% } else{ %>
		   				<div><label><img src=<%-JSON.stringify(profilePic)%> width="120" height="120"></label></div>
					<% } %>
		      		<!-- <label><img src=<%-JSON.stringify(profilePic)%> width="120" height="120"></label>
		      		</script> -->
		      	</div>
		      	<div class = 'info'>

					<h3>
						<br>First Name : <%= firstName%>
						<br>Last Name : <%= lastName%>
						<br>Email : <%= email%>
						<% if(location == "" || location == null) { %>						
						<br>
						<% } else { %>
						<br>Location : <%= location%>
						<% } %>
					</h3>
				</div>
			</div>
			<% if(currentId == userId) { %>
				<a href="/updateInfo?userId=<%- userId%>" class="button">Update</a>
			<% } else { %>
				<form name="followers" action="">
					<input type="hidden" name="follower" value=<%- currentId%>>
					<input type="hidden" name="followee" value=<%- userId%>>
					<input type="submit" name="submit" class="button" id="follow" value="Follow" />
				</form>
			<% } %>
		</div>

		
	</body>
</html>