<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/profile.css">
		<link rel="stylesheet" type="text/css" href="css/navbar.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div id = 'navbar'>
			<img src="http://www.electrogarden.com/music/egn/skins/ProJam_Dark/images/world_map_black.jpg" id="logo" />
			<div id = "name">MapItUp</div>
			<ul>
			  <li><a href="/home?userId=<%- userId%>"><b>Home</b></a></li>
			  <li><a href="/profile?userId=<%- userId%>"><b>Profile</b></a></li>
			  <li><a href="#contact"><b>Followers</b></a></li>
			  <!-- <li><a href="/search"><b>Search</b></a></li> -->
			  <li><a href="/signOut"><b>Sign Out</b></a></li>
			  <li><form action="/search" method="post"><input id="search-bar" name="search" type="text" placeholder="Search..."><input type="hidden" name="userId" value=<%- userId%>></form></li>
			  <li><span class="icon"><i class="fa fa-search"></i></span></li>
			</ul>
		</div>
		
		


		<div class='layer'>
			<div id='workingArea'>
				<h1> Welcome</h1>
				<div class='profilepic'>
					<% if(profilePic == "") { %>
		   				<%window.alert("if")%>
		   				<div><label><img src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png" width="1200" height="120"></label></div>
		 			<% } else{ %>
		   				<div><label><img src=<%-JSON.stringify(profilePic)%> width="120" height="120"></label></div>
					<% } %>
		      		<!-- <label><img src=<%-JSON.stringify(profilePic)%> width="120" height="120"></label>
		      		</script> -->
		      	</div>
		      	<div class = 'info'>
					<h3>
						<br>First Name : <%= firstName%>
						<br>Last Name : <%= lastName%>
						<br>Email : <%= email%>
						<br>Location : <%= location%>
					</h3>
				</div>
			</div>

			<a href="/updateInfo?userId=<%- userId%>" class="button">Update</a>
		</div>

		
	</body>
</html>